/* One For All */
body {
    background-color: #f8f9fa !important;
}
a{
    text-decoration: none !important;
}
#form-margin{
    margin-top: 30px;
}

/* Manage Products */
.manage {
    margin-top: 50px;
}
table {
    background-color: white;
    
}

/* Show Products */
.product-card  {
    border: 1px solid #dee2e6 !important;
    border-radius: 8px !important;
    overflow: hidden !important;
    transition: transform 0.2s !important;
    cursor: pointer !important;
} 
.product-card:hover {
    transform: scale(1.05) !important;
}
.product-img {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
}